<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ví dụ sử dụng Directive ng-repeat</title>
        <link rel="stylesheet" href="../../../libs/angular-material.min.css">
        <style>
            .app{
                width: 350px;
            }input.ng-invalid{
                color:rgb(221,44,0) !important;
            }
        </style>
    </head>
    <body>
        <div ng-app="ngShowHide" class="app">
            <div ng-controller="myController">
                <div ng-repeat="item in items" style="border:solid 1px red; margin: 10px">
                    {{item}}
                </div>
            </div>
        </div>
        <script src="../../../libs/angular.min.js"></script>
        <script src="../../../libs/angular-animate.min.js"></script>
        <script src="../../../libs/angular-aria.min.js"></script>
        <script src="../../../libs/angular-messages.min.js"></script>
        <script src="../../../libs/angular-material.min.js"></script>

        <script>
            angular.module('ngShowHide', [])
                    .controller('myController', ['$scope', function($scope) {
                    $scope.items = ["Xin chào", 'Hello', "Welcome"];
            }]);
        </script>
    </body>
</html>