<!doctype html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <title>Ví dụ sử dụng ngClass trong AngularJS - Freetuts.net</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
        <link rel="stylesheet" href="../../../libs/angular-material.min.css">
        <style>
            .md-button.md-fab {
                height: 70px;
                width: 70px;
            }

            .md-fab md-icon {
                /* height: 28px; */
                font-size: 28px;
            }
            .md-button.md-fab:hover md-icon {
                color: rgb(210, 245, 10);
            }
        </style>
        
    </head>
    <body ng-app="ngClassExample">
        <div ng-controller="ngControllerExample">
            <md-button class="md-fab" ng-class="myclass" ng-click="clickme()" ng-style="mystyle">
                <md-icon md-font-icon="fa fa-microphone"></md-icon>
            </md-button>
        </div>
        <script src="../../../libs/angular.min.js"></script>
        <script src="../../../libs/angular-animate.min.js"></script>
        <script src="../../../libs/angular-aria.min.js"></script>
        <script src="../../../libs/angular-messages.min.js"></script>
        <script src="../../../libs/angular-material.min.js"></script>
        <script>
            angular.module('ngClassExample', ['ngMaterial', 'ngMessages'])
                    .controller('ngControllerExample', function($scope){
                        // $scope.mystyle = {
                        //         'background': 'rgb(33, 150, 243)', 
                        //         'color': 'rgb(255, 255, 255)'
                        // }
                       
                        $scope.myclass = {
                            active : false,
                            'md-primary' : true,
                            'md-warn' : false
                        }
                        $scope.clickme = function(){
                           var isActive = $scope.myclass.active;
                           if(isActive){
                                $scope.myclass = {
                                    active : false,
                                    'md-primary' : true,
                                    'md-warn' : false
                                }
                           }else{
                                $scope.myclass = {
                                    active : true,
                                    'md-primary' : false,
                                    'md-warn' : true
                                }
                           }
                        } 
                    });
        </script>
    </body>
</html>