<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ví dụ sử dụng Directive ng-Form</title>
        <link rel="stylesheet" href="../../../libs/angular-material.min.css">
        <style>
            .app{
                width: 350px;
            }input.ng-invalid{
                color:rgb(221,44,0) !important;
            }
        </style>
    </head>
    <body>
        <div ng-app="myapp" class="app">
                <div ng-controller="myController">
                    <h2>Hỏi Đáp: Bạn năm nay bao nhiêu tuổi?</h2>
                    <md-input-container>
                        <label>UserName</label>
                        <input name="userAge" ng-model="age"  md-maxlength="3" type="tel" maxlength="3" ng-keyup="checktuoi()">
                    </md-input-container>
                    <div ng-hide="status.case1">Bạn chưa đủ tuổi để yêu</div>
                    <div ng-show="status.case2">Yêu đi, ế rồi đó</div>
                </div>
        </div>
        <script src="../../../libs/angular.min.js"></script>
        <script src="../../../libs/angular-animate.min.js"></script>
        <script src="../../../libs/angular-aria.min.js"></script>
        <script src="../../../libs/angular-messages.min.js"></script>
        <script src="../../../libs/angular-material.min.js"></script>

        <script>
            angular.module('myapp', ['ngMaterial', 'ngMessages'])
                .controller('myController', ['$scope', function($scope) {
                $scope.status =  {
                    case1 : true,
                    case2 : false
                } 
                $scope.checktuoi = function(){
                    let a = $scope.age;
                    let message;
                    let case1,case2;
                    if(!isNaN(a) && a>0){
                        if(a>=20){
                            case2 = true;
                            case1 = true;
                        }else{
                            case1 = false;
                            case2 = false;
                        }
                    }else{
                        case1 = true;
                        case2 = false;
                
                    }
                    $scope.status =  {
                        case1 : case1,
                        case2 : case2
                    } 
                }
            }]);
        </script>
    </body>
</html>