<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form validate</title>
    <style>
        *{margin:0}body{padding:20px}
    </style>
</head>
<body ng-app="myapp">
    
    <h1>ng-model-options(debounce)</h1>
    <span>Nhập vào và khi con trỏ chuột ra khỏi input thì khoảng 1 giây sau thì $scope được cập nhật<br />, còn nếu ta không đưa con trỏ ra ngoài thì hành động cập nhật $scope này không được xử lý.</span>
    <div ng-controller="optionsController">
        <form name="userForm">
            <h5>Nhập nội dung của bạn nào</h5>
            <input type="text" name="userName" ng-model-options="{updateOn:'blur', debounce:1000}" ng-model="user.name"/><br />
            <h5>Chuỗi mà Bạn đang nhập là:</h5>
            <span ng-bind="user.name"></span>
        </form>
    </div>
    <script src="../../../libs/angular.min.js"></script>
    <script src="script.js"></script>
</body>
</html>