<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="/libs/angular/angular-material.min.css">
        <style>
            .tabs-heading{
                padding: 20px 20px 0px 20px;
                height: 30px;
                border: solid 1px gray;
                border-radius: 5px 5px 0px 0px;
                background-color: #cae8fd;
            }
            .tabs-heading a{
                display: inline-block;
                padding: 0px 20px;
                height: 30px;
                line-height: 30px;
                z-index: 1;
                color: blue;
                text-transform: uppercase;
                text-decoration: none;
            }
            .tabs-heading a.active{
                height: 30px;
                border: solid 1px gray;
                border-bottom: none;
                background-color: #FFF;
            }
            .tabs-content{
                border: solid 1px gray;
                border-top: none;
                min-height: 200px;
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <vdiv ng-app="ngTabExample" ng-controller="TabController">
            <div class="tabs-heading">
                <a href="#" ng-class="{active:isActiveTab(1)}" ng-click="changeTab(1)" onclick='return false'>Tab 1</a>
                <a href="#" ng-class="{active:isActiveTab(2)}" ng-click="changeTab(2)" onclick='return false'>Tab 2</a>
                <a href="#" ng-class="{active:isActiveTab(3)}" ng-click="changeTab(3)" onclick='return false'>Tab 3</a>
            </div>
            <div class="tabs-content">
                <div ng-show="current_tab == 1">
                    <h1>Nội dung của tab 1</h1>
                </div>
                <div ng-show="current_tab == 2">
                    <h1>Nội dung của tab 2</h1>
                </div>
                <div  ng-show="current_tab == 3">
                    <h1>Nội dung của tab 3</h1>
                </div>
            </div>
        </div>
    
        <script src="/libs/angular/angular.min.js"></script>
        <script src="/libs/angular/angular-animate.min.js"></script>
        <script src="/libs/angular/angular-aria.min.js"></script>
        <script src="/libs/angular/angular-messages.min.js"></script>
        <script src="/libs/angular/angular-material.min.js"></script>

        <script>
            angular.module('ngTabExample', ['ngMaterial', 'ngMessages'])
                .controller('TabController', ['$scope', function($scope) {
                // $scope index lưu trữ tab hiện tại, ban đầu gán nó = tab1
                $scope.current_tab = 1;
                
                // Hàm đổi tab
                $scope.changeTab = function(index){
                    $scope.current_tab = index;
                };

                // Hàm kiểm tra có phải tab hiện tại hay không
                // hàm này sẽ trả về true/false và dùng kết hợp
                // với ng-class để active menu
                $scope.isActiveTab = function(index){
                    return index === $scope.current_tab;
                };
            }]);
        </script>
    </body>
</html>