<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Model</title>
</head>
<body ng-app="myapp">
    <div ng-controller="MyController">
        Nhập tên của bạn:
        <input type="text" value="" ng-model="username">
        <button ng-click='sayHello()'>In thông báo</button>
        <hr>
        <span ng-if="greeting"> Xin chào {{greeting}}</span>
    </div>
    <script src="../../libs/angular.min.js"></script>
    <script src="script.js"></script>
</body>
</html>