<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form validate</title>
    <style>
        .my-input {
            -webkit-transition:all linear 0.5s;
            transition:all linear 0.5s;
            background: transparent;
        }
        .my-input.ng-invalid {
            color:white;
            background: red;
        }#result span::after{
            content: '\A';
            white-space: pre;
        }
    </style>
</head>
<body ng-app="MyForm">
    <form name="calForm" ng-controller="ExampleController">
        <h2>{{form.title}}</h2>
        <div>    
            <label>{{form.num1}}:</label><br/>
            <input ng-model="so_thu_nhat" ng-required='true' ng-pattern="/^[0-9]+$/" class="my-input" ng-keyup="show_result()" />
        </div>
        <div>
            <label>{{form.num2}}:</label><br/>
            <input ng-model="so_thu_hai" ng-required='true' ng-pattern="/^[0-9]+$/" class="my-input" ng-keyup="show_result()" />
        </div>
        <!-- <div style="{{styleresult}}"> -->
        <div id="result">
            <span>{{message.phep_cong}}</span>
            <span>{{message.phep_tru}}</span>
            <span>{{message.phep_nhan}}</span>
            <span>{{message.phep_chia}}</span>
        </div>
    </form>
    <script src="../../../libs/angular.min.js"></script>
    <script src="script.js"></script>
</body>
</html>