<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Model</title>
</head>
<body ng-app="myapp">
    <h1>AngularJS Directives <span style="font-size: 50px;color: red;">ng-init</span></h1>
    <div ng-controller="MyController">
        <div my-customer ng-init="demo='Nội dung'">{{demo}}</div>
        {{demo}}
    </div>
    {{demo}}
    <script src="../../../libs/angular.min.js"></script>
    <script src="script.js"></script>
</body>
</html>