<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form validate</title>
    <style>
        *{margin:0}body{padding:20px}
    </style>
</head>
<body ng-app="myapp">  
    <h1>ng-model-options(getterSetter)</h1>
    <div ng-controller="optionsController">
        <form name="userForm">
            <h5>Nhập nội dung của bạn nào</h5>
            <input type="text" name="userName" ng-model-options="{ getterSetter: true }" ng-model="user.name"/><br />
            <h5>Chuỗi mà Bạn đang nhập là:</h5>
            <span ng-bind="user.name()"></span>
        </form>
    </div>
    <script src="../../../libs/angular.min.js"></script>
    <script src="script.js"></script>
</body>
</html>