<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form validate</title>
    <style>
        *{margin:0}body{padding:20px}
    </style>
</head>
<body ng-app="myapp">
    <h1>sử dụng ng-bind-html</h1>
    <div ng-controller="ExampleController">
        <input type="text" ng-model="myHTML"/>
        <p ng-bind-html="myHTML"></p>
    </div>
    <script src="../../libs/angular.min.js"></script>
    <script src="../../libs/angular-sanitize.min.js"></script>
    <script src="script.js"></script>
</body>
</html>