<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ví dụ sử dụng Directive ng-Form</title>
        <link rel="stylesheet" href="../../libs/angular-material.min.css">
        <style>
            .app{
                width: 350px;
            }input.ng-invalid{
                color:rgb(221,44,0) !important;
            }
        </style>
    </head>
    <body>
        <div ng-app="myapp" class="app" ng-cloak>
            <h1>Đăng Nhập</h1>
            <form ng-controller="ExampleController" name="myForm" novalidate>
                <md-input-container class="md-block">
                    <label>UserName</label>
                    <input autocomplete="off" ng-change="checkABCExist();" abc ng-model-options="{allowInvalid: true}" check-abc required name="userName" ng-model="user.userName" ng-pattern="/^([a-zA-Z0-9]+)$/" minlength="3" md-maxlength="10" maxlength="20" md-no-asterisk> 
                    <div ng-messages="myForm.userName.$error" multiple ng-show="myForm.userName.$touched || myForm.userName.$dirty || myForm.$submitted ">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="aaaa">ABC test.</div>
                        <div ng-message="pattern">Input valid pattern.</div>
                        <div ng-message="md-maxlength">The name has to be less than 10 characters long.</div>
                        <div ng-message="minlength">The name has to be more than 3 characters long.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input required name="userPass" ng-model="user.userPass" type="password" minlength="3" md-maxlength="10" ng-trim="true" maxlength="20" md-no-asterisk>
                    <div ng-messages="myForm.userPass.$error" multiple ng-show="myForm.userPass.$touched || myForm.userPass.$dirty || myForm.$submitted">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">The name has to be less than 10 characters long.</div>
                        <div ng-message="minlength">The name has to be more than 3 characters long.</div>
                    </div>
                </md-input-container>  
                <md-button class="md-raised" type="md-button" ng-click="login()">Login</md-button>
            </form>
        </div>
        <script src="../../libs/angular.min.js"></script>
        <script src="../../libs/angular-animate.min.js"></script>
        <script src="../../libs/angular-aria.min.js"></script>
        <script src="../../libs/angular-messages.min.js"></script>
        <script src="../../libs/angular-material.min.js"></script>

        <script>
            angular.module('myapp', ['ngMaterial', 'ngMessages'])
                .controller('ExampleController', ['$scope', function($scope) {
                // Khi submit form thì chạy hàm này
                $scope.user = {
                    userName : undefined,
                    userPass : undefined
                }
                console.log($scope.user.userName);
                $scope.checkABCExist = function(){
                    console.log($scope.user.userName);
                    // console.log(angular.isDefined($scope.user.userName));
                    // if(angular.isDefined($scope.user.userName)){
                    //     console.log($scope.user.userName);
                    //     var check = $scope.user.userName== 'abc'?true:false;
                    //     $scope.myForm.userName.$setValidity('aaaa',check);
                    // }    
                    if($scope.user.userName!=''){
                        var check = $scope.user.userName== 'abc'?true:false;
                        $scope.myForm.userName.$setValidity('aaaa',check);
                    }else{
                        $scope.myForm.userName.$setValidity('aaaa',true);
                    }
                }
                $scope.login = function() 
                {
                    // $scope.myForm.userName.$setValidity('aaaa',false);
                    if($scope.myForm.$valid){
                            // nếu người dùng có nhập nội dung thì lưu nó vào list
                        if ($scope.user.userName == 'admin' && $scope.user.userPass == '123456'){
                            alert('Đăng Nhập Thành Công');
                        }
                        else {
                            alert('Đăng Nhập Thất Bại');
                        }
                    }else{
                        // alert('Form lỗi');
                    }
                };
                
            }])
            // .directive('checkAbc', function () {
            //     return {
            //         restrict: 'A', // only activate on element attribute
            //         require: 'ngModel', // get a hold of NgModelController
            //         link: function(scope, element, attrs, ngModel) {
            //             // do nothing if no ng-model
            //             if(!ngModel) {
            //                 return;
            //             }
            //             function abc (ngModelValue){
            //                 ngModel.$setValidity('aaaa', false);
            //                 return ngModelValue;
            //             }
            //             ngModel.$parsers.push(abc);
                        
            //             // Listen for change events to enable binding
            //             // element.bind('blur keydown keyup change', function() {
            //             //     ngModel.$setValidity('aaaa', false);
            //             // });
            //         }
            //     };;
            // });
        
        </script>
    </body>
</html>