<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Model</title>
</head>
<body ng-app="myapp">
    <h1>AngularJS Directives <span style="font-size: 50px;color: red;">ng-blind</span></h1>
    <div ng-controller="MyController">
        <h2>Nhập nội dung thông bao:</h2>
        <input ng-model="name"><br/>
        <h2>Nội dung bạn đang gõ là:</h2>
        <span ng-bind="name"></span>
    </div>
    <script src="../../../libs/angular.min.js"></script>
    <script src="script.js"></script>
</body>
</html>