<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form validate</title>
    <style>
        *{margin:0}body{padding:20px}
    </style>
</head>
<body ng-app="myapp">
    <h1>sử dụng ng-bind-template</h1>
    <div ng-controller="ExampleController">
        Name <input type="text" ng-model="name"><br>
        Website: <input type="text" ng-model="website"><br>
        <pre ng-bind-template="{{name}} {{website}}!"></pre>
    </div>
    <script src="../../libs/angular.min.js"></script>
    <script src="script.js"></script>
</body>
</html>