<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ví dụ sử dụng Directive ng-Form</title>
        <link rel="stylesheet" href="../../libs/angular-material.min.css">
        <style>
            .app{
                width: 350px;
            }input.ng-invalid{
                color:rgb(221,44,0) !important;
            }
        </style>
    </head>
    <body>
        <div ng-app="myapp" class="app">
            <form name="myForm" ng-controller="DateController">
                <md-input-container>
                    <label>Enter date</label>
                    <md-datepicker ng-model="mydate" name="dateField" md-placeholder="Enter date" md-open-on-focus></md-datepicker>    
                    <div ng-messages="myForm.dateField.$error">
                        <div ng-message="valid">Use a valid date format</div>
                    </div>
                </md-input-container> 
            </form>
        </div>
        <script src="../../libs/moment.min.js"></script>
        <script src="../../libs/angular.min.js"></script>
        <script src="../../libs/angular-animate.min.js"></script>
        <script src="../../libs/angular-aria.min.js"></script>
        <script src="../../libs/angular-messages.min.js"></script>
        <script src="../../libs/angular-material.min.js"></script>

        <script>
            angular.module('myapp', ['ngMaterial', 'ngMessages']).config(function($mdDateLocaleProvider) {
                /**
                 * @param date {Date}
                 * @returns {string} string representation of the provided date
                 */
                $mdDateLocaleProvider.formatDate = function(date) {
                return date ? moment(date).format('D/M/YYYY') : '';
                };

                /**
                 * @param dateString {string} string that can be converted to a Date
                 * @returns {Date} JavaScript Date object created from the provided dateString
                 */
                $mdDateLocaleProvider.parseDate = function(dateString) {
                var m = moment(dateString, 'D/M/YYYY', true);
                return m.isValid() ? m.toDate() : new Date(NaN);
                };
                /**
                 * Check if the date string is complete enough to parse. This avoids calls to parseDate
                 * when the user has only typed in the first digit or two of the date.
                 * Allow only a day and month to be specified.
                 * @param dateString {string} date string to evaluate for parsing
                 * @returns {boolean} true if the date string is complete enough to be parsed
                 */
                // $mdDateLocaleProvider.isDateComplete = function(dateString) {
                // dateString = dateString.trim();
                // // Look for two chunks of content (either numbers or text) separated by delimiters.
                // var re = /^(([a-zA-Z]{3,}|[0-9]{1,4})([ .,]+|[/-]))([a-zA-Z]{3,}|[0-9]{1,4})/;
                // return re.test(dateString);
                // };
            }).controller('DateController', ['$scope', function($scope) {
                    $scope.mydate = new Date();
            }]);
        </script>
    </body>
</html>