<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ví dụ sử dụng Directive ng-repeat</title>
        <link rel="stylesheet" href="../../../libs/angular-material.min.css">
        <style>
            *{margin:0;padding:0}
            body{margin:20px;}
        </style>
    </head>
    <body>
        <div ng-app="ngShowHide" class="app">
            <div ng-controller="myController">
                <div ng-repeat="(id,display) in items">
                    {{id}} - {{display}}
                </div>
            </div>
        </div>
        <script src="../../../libs/angular.min.js"></script>
        <script src="../../../libs/angular-animate.min.js"></script>
        <script src="../../../libs/angular-aria.min.js"></script>
        <script src="../../../libs/angular-messages.min.js"></script>
        <script src="../../../libs/angular-material.min.js"></script>

        <script>
            angular.module('ngShowHide', [])
                    .controller('myController', ['$scope', function($scope) {
                    $scope.items = {
                        name:"Văn Cường",
                        website:"freetuts.net"
                    };
            }]);
        </script>
    </body>
</html>