<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello world</title>
</head>
<body>
    <div ng-app="myfirstapp">
        <div ng-controller="controller1">
            <h2>Xin chào {{data.title}} đến với website {{data.website}}!</h2>
        </div>
    </div>
    <script src="../../libs/angular.min.js"></script>
    <script src="script.js"></script>
</body>
</html>