<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ví dụ sử dụng Directive ng-Form</title>
        <link rel="stylesheet" href="../../libs/angular-material.min.css">
        <style>
            .app{
                width: 350px;
            }input.ng-invalid{
                color:rgb(221,44,0) !important;
            }
        </style>
    </head>
    <body>
        <div ng-app="myapp" class="app">
           <div ng-controller="ExampleController">
                <h1>Sở thích của bạn là gì</h1>
                <md-checkbox ng-model="data.game" aria-label="Checkbox 1" class="md-warn">Chơi game</md-checkbox>
                <md-checkbox ng-model="data.travel" aria-label="Checkbox 1">Du lịch</md-checkbox>
                <div>
                    <b>Bạn đang chọn</b>
                    <ul>
                        <li>Chơi game = {{data.game?'Có':'Không'}}</li>
                        <li>Du lịch = {{data.travel?'Có':'Không'}}</li>
                    </ul>
                </div>
           </div>
        </div>
    
        <script src="../../libs/angular.min.js"></script>
        <script src="../../libs/angular-animate.min.js"></script>
        <script src="../../libs/angular-aria.min.js"></script>
        <script src="../../libs/angular-messages.min.js"></script>
        <script src="../../libs/angular-material.min.js"></script>

        <script>
            angular.module('myapp', ['ngMaterial', 'ngMessages'])
                .controller('ExampleController', ['$scope', function($scope) {
                $scope.form = {
                    unameisrequired :false,
                    pworkisrequired :false
                }
                
                $scope.a = function(){
                    $scope.form.unameisrequired=true;
                }
                // Khi submit form thì chạy hàm này
                $scope.login = function() 
                {
                    if($scope.myForm.$valid){
                            // nếu người dùng có nhập nội dung thì lưu nó vào list
                        if ($scope.user.userName == 'admin' && $scope.user.userPass == '123456'){
                            alert('Đăng Nhập Thành Công');
                        }
                        else {
                            alert('Đăng Nhập Thất Bại');
                        }
                    }else{
                        alert('Form lỗi');
                    }
                };
            }]);
        </script>
    </body>
</html>