<!doctype html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <title>ng-class-odd và ng-class-even trong AngularJS - Freetuts.net</title>
        <script src="../../../libs/angular.min.js"></script>
        <style>
            *{margin:0;padding:0}
            body{margin:20px;}     
            div{height: 30px; line-height: 30px; padding: 0px 20px;}
            .odd{
                background: red;
                color:#FFF;
            }.even{
                background: blue;
                color:#FFF;
            }
        </style>
        <script>
            /*
             * Author: thehalfheart@gmail.com
             * Website: freetuts.net
             */
            angular.module('Example', [])
                .controller('Controller', function($scope){                    
                    // Danh sách sinh viên
                    $scope.students = [
                        {name : "Nguyễn Văn Cường"},
                        {name : "Nguyễn Văn Kính"},
                        {name : "Nguyễn Văn Chính"},
                        {name : "Nguyễn Văn Quyền"},
                        {name : "Nguyễn Văn Trường"},
                        {name : "Nguyễn Văn Hùng"},
                        {name : "Nguyễn Văn Hiếu"},
                        {name : "Nguyễn Văn Nghĩa"}
                    ];
                });
        </script>
    </head>
    <body ng-app="Example" ng-controller="Controller">
        <h1>Freetuts.net - ng-class-odd</h1>
        <div ng-repeat="student in students" ng-class-odd="'odd'" ng-class-even="'even'">
            {{student.name}}
        </div>
    </body>
</html>