<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ví dụ sử dụng Directive Form</title>
        <style>
            *{margin:0}body{padding:20px}
            .my-form {
                -webkit-transition:all linear 0.5s;
                transition:all linear 0.5s;
                background: transparent;
            }
            .my-form.ng-invalid {
                background: red;
            }.app{
                width: 320px;
            }
        </style>
    </head>
    <body>
        <div ng-app="myapp" class="app">
            <form name="myForm" ng-controller="FormController" class="my-form">
                Username: <input name="input" ng-model="username" required>
                <span class="error">Required!</span><br>
                <tt>userType = {{username}}</tt>
            </form>
        </div>
        <script src="../../../libs/angular.min.js"></script>
        <script>
                angular.module('myapp', [])
                    .controller('FormController', ['$scope', function($scope) {
                    
                }]);
        </script>
    </body>
</html>