<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Model</title>
</head>
<body ng-app="myapp">
    <h1>Scope nằm lồng trong scope</h1>
    <div class="show-scope-demo">
        <div ng-controller="TopController">
            <div ng-controller="GreetController">
                Hello {{name}}!
            </div>
            <div ng-controller="ListController">
                Hello {{name}}!
            </div>
            {{name}}
        </div>
    </div>
    <script src="../../libs/angular.min.js"></script>
    <script src="script.js"></script>
</body>
</html>