<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ví dụ sử dụng Directive ng-repeat</title>
        <link rel="stylesheet" href="../../../libs/angular-material.min.css">
        <style>
           *{margin:0;padding:0}
            body{margin:50px}
            footer, div.body,header{margin: 10px; }
            footer{border:solid 1px red; background: red}
            div.body{border:solid 1px blue; background: blue}
            header{border:solid 1px pink; background: pink}
        </style>
    </head>
    <body>
        <div ng-app="ngShowHide" class="app">
            <div ng-controller="myController">
                <header ng-repeat-start="item in items">
                    Header {{ item }}
                </header>
                <div class="body">
                    Body {{ item }}
                </div>
                <footer ng-repeat-end>
                    Footer {{ item }}
                </footer>
            </div>
        </div>
        <script src="../../../libs/angular.min.js"></script>
        <script src="../../../libs/angular-animate.min.js"></script>
        <script src="../../../libs/angular-aria.min.js"></script>
        <script src="../../../libs/angular-messages.min.js"></script>
        <script src="../../../libs/angular-material.min.js"></script>

        <script>
            angular.module('ngShowHide', [])
                    .controller('myController', ['$scope', function($scope) {
                    $scope.items = ["Xin chào", 'Hello', "Freetuts.net"];
            }]);
        </script>
    </body>
</html>