<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ví dụ sử dụng Directive ng-Form</title>
        <link rel="stylesheet" href="../../../libs/angular-material.min.css">
        <style>
            .app{
                width: 350px;
            }input.ng-invalid{
                color:rgb(221,44,0) !important;
            }
        </style>
    </head>
    <body>
        <div ng-app="myServiceModule" class="app">
            <div id="simple" ng-controller="MyController">
                <p>Nhập vào số chẵn thì sẽ thông báo lên màn hình</p>
                <input ng-model="number" ng-change="xuat_thong_bao()"/>
            </div>
        </div>
        <script src="../../../libs/angular.min.js"></script>
        <script src="../../../libs/angular-animate.min.js"></script>
        <script src="../../../libs/angular-aria.min.js"></script>
        <script src="../../../libs/angular-messages.min.js"></script>
        <script src="../../../libs/angular-material.min.js"></script>

        <script>
    
            // Lưu module vào biến
            var module = angular.module('myServiceModule', []);
             
            // Khai báo controller
            module.controller('MyController', ['$scope','kiem_tra_so_chan', function ($scope, kiem_tra_so_chan) 
            {
                $scope.xuat_thong_bao = function() {
                    kiem_tra_so_chan($scope.number);
                };
            }]);
             
            // Tạo service kiểm tra số chẵn
            module.service('kiem_tra_so_chan', function($window)
            {
                return function(number)
                {
                    if (number % 2 == 0) {
                        $window.alert("Số " + number + " là số chẵn");
                    }
                };
            });
        </script>
    </body>
</html>